<ibm-header name="Procurement Internal Net Promoter Score">
    <ibm-header-navigation ariaLabel="Procurement Internal Net Promoter Score">
        <ibm-header-item [route]="['']">Home</ibm-header-item>
        
    </ibm-header-navigation>
    <ibm-header-global>
        
        <ibm-header-action title="action">
            
            <svg ibmIconUserAvatar size="20" (click)="openModal()" ></svg>
           
            
            
        </ibm-header-action>
        
    </ibm-header-global>
</ibm-header>
