<div ibmRow class="landing-page__r3">
    
    <div ibmCol [columnNumbers]="{ 'lg': 10}">
       <span class="footer-content">Contact IBM</span>
      <span class="footer-content">Privacy</span>
      <span class="footer-content">Terms of Use</span>
      <span class="footer-content">Accessibility</span>
    </div>
    <div ibmCol [columnNumbers]="{ 'lg': 2}">
        <img class="footer-image"
       width="80"
      height="80" 
      alt="IBM Logo"
      src="assets/img/IBM.png"/>
    </div>
    <!-- <div ibmCol [columnNumbers]="{ 'lg': 3}">Terms of Use</div>
    <div ibmCol [columnNumbers]="{ 'lg': 3}">Accessibility</div> -->

    
        
  </div>