<ibm-modal 
    [open]="true"
    (overlaySelected)="closeModal()"
    size="sm">
    <ibm-modal-header (closeSelect)="closeModal()"></ibm-modal-header>
    <section ibmModalContent>
        <h3>Country Name</h3>
        <br>
        <input ibmText placeholder="" size="sm" style="width: 300px;height: 30px;" [(ngModel)]="country.countryName">
        <br>
        <br>
        <br>
        <h3>Geo</h3>
        <br>
        <input ibmText placeholder="" style="width: 300px;height: 30px;" [(ngModel)]="country.geo">
        <br>
        <h3>IMT</h3>
        <input ibmText placeholder="" style="width: 300px;height: 30px;" [(ngModel)]="country.imt">
        <br>
        <br>
        <button ibmButton="primary" (click)="newEntrySave()">Submit</button>
    </section>
</ibm-modal>
<ibm-placeholder></ibm-placeholder>