<div ibmGrid class="bx--grid--full-width landing-page">          
    <div class="bx--col-lg-10">
        <h1 class="landing-page__heading">
            Admin
        </h1>
        <br>
        <p>
            Admin of INPS application is <strong>Seema M Peshwani</strong>.
            To become admin, please write to <strong>speshwan@in.ibm.com</strong>
            
        </p> 
        <br>
        <p>
            <strong>Note:</strong>To become Admin member, you need to add the person in our blueGroups.<br>
            Our BlueGroup name: <strong>test-INPS-admin</strong>
        </p>
    </div>
</div>