<!-- <div ibmGrid class="bx--grid--full-width landing-page">
    <div ibmRow class="landing-page__r2">
        <div ibmCol class="bx--offset-lg-1 bx--col-lg-10">
            <div ibmCol class="bx--offset-lg-2" [columnNumbers]="{'lg': 8}">
               
                <div>
                    <img class="feedback-image"
                        alt="IBM Logo"
                        src="assets/img/feedback-logo.png"/>
                </div>
                <h1>Tell us about your iNPS experience</h1>
                <hr>
                <br>
                <br>
                <h4>Hello {{displayName}}</h4>
                <br>
                <p>Source ID: {{sourceIDName}}</p>
                <p>Reference ID:</p>
                <p>Reference ID2:</p>
                <p>Commodity Council:</p>
                <br>
                <h3>1. Rate your satisfaction with support received from Procurement for this request.</h3>
                <br>
                <p class="para-color1">[0-6] dissatisfied, [7-8] neutral, [9-10] satisfied</p>
                <br>
                   <!-- <div>
                    
                       
                        <ibm-radio-group
                            aria-label="radiogroup" [(ngModel)]="adhoc.rating">
                            
                            <ibm-radio class="radio-subset" *ngFor="let radios of manyRadios"
                                [value]="radios.num">
                                {{radios.num}}
                            </ibm-radio>
                                                                                       
                </ibm-radio-group>
                    </div> -->

                    <!-- <div class="rating">

                        <div class="item item-low">
                            <label>
                                <input type="radio" name="rating" value="0" [(ngModel)]="adhoc.rating">
                                0
                            </label>
                        </div>
                        
                        <div class="item item-low">
                            <label>
                                <input type="radio" name="rating" value="1" [(ngModel)]="adhoc.rating">
                                1
                            </label>
                        </div>
                        <div class="item item-low">
                            <label>
                                <input type="radio" name="rating" value="2" [(ngModel)]="adhoc.rating">
                                2
                            </label>
                        </div>
                        <div class="item item-low">
                            <label>
                                <input type="radio" name="rating" value="3" [(ngModel)]="adhoc.rating">
                                3
                            </label>
                        </div>
                        <div class="item item-low">
                            <label>
                                <input type="radio" name="rating" value="4" [(ngModel)]="adhoc.rating">
                                4
                            </label>
                        </div>
                        <div class="item item-low">
                            <label>
                                <input type="radio" name="rating" value="5" [(ngModel)]="adhoc.rating">
                                5
                            </label>
                        </div>
                        <div class="item item-low">
                            <label>
                                <input type="radio" name="rating" value="6" [(ngModel)]="adhoc.rating">
                                6
                            </label>
                        </div>
                        <div class="item item-mid">
                            <label>
                                <input type="radio" name="rating" value="7" [(ngModel)]="adhoc.rating">
                                7
                            </label>
                        </div>
                        <div class="item item-mid">
                            <label>
                                <input type="radio" name="rating" value="8" [(ngModel)]="adhoc.rating">
                                8
                            </label>
                        </div>
                        <div class="item item-high">
                            <label>
                                <input type="radio" name="rating" value="9" [(ngModel)]="adhoc.rating">
                                9
                            </label>
                        </div>
                        <div class="item item-high">
                            <label>
                                <input type="radio" name="rating" value="10" [(ngModel)]="adhoc.rating" (click)="openModalOnWowRating()">
                                10
                            </label>
                        </div>
                    </div>
                    <div class="rating-caption">
                        <div>Dissatisfied</div>
                        <div>Satisfied</div>
                    </div>
                                          
                <br>
                <h3>2. If the above survey is not related to your Blue pages country, please click the drop menu for the correct country supported by Procurement.</h3>
                <br>
                <div ibmRow>
                    <div ibmCol [columnNumbers]="{'lg': 2}">
                        <br>
                        <span style="margin-left: 30px;">Country : </span>
                    </div>
                    <div ibmCol [columnNumbers]="{'lg': 6}" > -->
                        <!-- <div style="width: 200px;"> -->
                            <!-- to use ngModel..import "FormsModule" -->
                            <!-- <ibm-dropdown [(ngModel)]="x" placeholder="Select Country">  -->
                        <!-- [label]="label"
                        [helperText]="helperText"
                        [size]="size"
                        [dropUp]="dropUp"
                        [invalid]="invalid"
                        [invalidText]="invalidText"
                        [theme]="theme"
                        
                        [disabled]="disabled"
                        (selected)="selected($event)"
                        (onClose)="onClose($event)" -->
                                <!-- <ibm-dropdown-list [items]="countryList"></ibm-dropdown-list> -->
                            <!-- </ibm-dropdown>
                        </div>
                    </div>
                </div>
                <br>
                <h3>3. What is the primary reason for your score?</h3>
                <br>
                <p class="note">Please note that this response is not anonymous, and for clarity, we may contact you to follow up on any dissatisfied responses. Please provide any comments or suggestions here (optional). Also, if possible, include any identifiers that could be helpful, such as Supplier name, PO# BOnD Cart ID, CSA#, PR# etc:</p>
                <br> -->
                 <!-- to use ngModel..import "FormsModule" -->
                <!-- <textarea name="Comments" class="comments" rows="7" cols="50" [(ngModel)]="adhoc.comments"></textarea>
                <br>
                <br>
                <button ibmButton="primary" (click)="feedbackSave()">Submit</button>
                <br>
                <br>
        
                </div> -->
        <!-- </div>
    </div>
</div>  -->


<!-- <ibm-placeholder></ibm-placeholder> -->

<div ibmGrid class="bx--grid--full-width landing-page">
    <div ibmRow class="landing-page__r2">
        <div ibmCol class="bx--offset-lg-1 bx--col-lg-10">
            <div ibmCol class="bx--offset-lg-2" [columnNumbers]="{'lg': 8}">
                <!-- [columnNumbers]="{'lg': 10}" -->
                <div>
                    <img class="feedback-image"
                        alt="IBM Logo"
                        src="assets/img/feedback-logo.png"/>
                </div>
                <h1>Tell us about your iNPS experience</h1>
                <hr>
                <br>
                <br>
                <h4>Hello {{displayName}}</h4>
                <br>
                <p>Source ID: {{sourceIDName}}</p>
                <p>Reference ID:</p>
                <p>Reference ID2:</p>
                <p>Commodity Council:</p>
                <br>
                <h3>1. Rate your satisfaction with support received from Procurement for this request.</h3>
                <br>
                <p class="para-color1">(0-6 Dissatisfied, 7-8 Neutral, 9-10 Satisfied)</p>
                <br>
                   <!-- <div>
                    
                       
                        <ibm-radio-group
                            aria-label="radiogroup" [(ngModel)]="adhoc.rating">
                            
                            <ibm-radio class="radio-subset" *ngFor="let radios of manyRadios"
                                [value]="radios.num">
                                {{radios.num}}
                            </ibm-radio>
                                                                                       
                </ibm-radio-group>
                    </div> -->
                    <div class="rating" id="myButtons1">
                        
                        <div class="item low1">
                            <label>
                                <input type="radio" name="rating" value="1" [(ngModel)]="adhoc.rating">
                                1
                            </label>
                        </div>
                        <div class="item low1">
                            <label>
                                <input type="radio" name="rating" value="2" [(ngModel)]="adhoc.rating">
                                2
                            </label>
                        </div>
                        <div class="item low1">
                            <label>
                                <input type="radio" name="rating" value="3" [(ngModel)]="adhoc.rating">
                                3
                            </label>
                        </div>
                        <div class="item low1">
                            <label>
                                <input type="radio" name="rating" value="4" [(ngModel)]="adhoc.rating">
                                4
                            </label>
                        </div>
                        <div class="item low1">
                            <label>
                                <input type="radio" name="rating" value="5" [(ngModel)]="adhoc.rating">
                                5
                            </label>
                        </div>
                        <div class="item low1">
                            <label>
                                <input type="radio" name="rating" value="6" [(ngModel)]="adhoc.rating">
                                6
                            </label>
                        </div>
                        <div class="item mid1">
                            <label>
                                <input type="radio" name="rating" value="7" [(ngModel)]="adhoc.rating">
                                7
                            </label>
                        </div>
                        <div class="item mid1">
                            <label>
                                <input type="radio" name="rating" value="8" [(ngModel)]="adhoc.rating">
                                8
                            </label>
                        </div>
                        <div class="item high1">
                            <label>
                                <input type="radio" name="rating" value="9" [(ngModel)]="adhoc.rating">
                                9
                            </label>
                        </div>
                        <div class="item high1">
                            <label>
                                <input type="radio" name="rating" value="10" [(ngModel)]="adhoc.rating" (click)="openModalOnWowRating()">
                                10
                            </label>
                        </div>
                    </div>
                    <div class="rating-caption">
                        <div>Dissatisfied</div>
                        <div>Satisfied</div>
                    </div>
                    <div class="rating" id="myButtons2">
                        <div class="item low2">
                            <label>
                                <input type="radio" name="rating" value="0" [(ngModel)]="adhoc.rating">
                                0
                            </label>
                        </div>
                        <div class="item low2">
                            <label>
                                <input type="radio" name="rating" value="1" [(ngModel)]="adhoc.rating">
                                1
                            </label>
                        </div>
                        <div class="item low2">
                            <label>
                                <input type="radio" name="rating" value="2" [(ngModel)]="adhoc.rating">
                                2
                            </label>
                        </div>
                        <div class="item low2">
                            <label>
                                <input type="radio" name="rating" value="3" [(ngModel)]="adhoc.rating">
                                3
                            </label>
                        </div>
                        <div class="item low2">
                            <label>
                                <input type="radio" name="rating" value="4" [(ngModel)]="adhoc.rating">
                                4
                            </label>
                        </div>
                        <div class="item low2">
                            <label>
                                <input type="radio" name="rating" value="5" [(ngModel)]="adhoc.rating">
                                5
                            </label>
                        </div>
                        <div class="item low2">
                            <label>
                                <input type="radio" name="rating" value="6" [(ngModel)]="adhoc.rating">
                                6
                            </label>
                        </div>
                        <div class="item mid2">
                            <label>
                                <input type="radio" name="rating" value="7" [(ngModel)]="adhoc.rating">
                                7
                            </label>
                        </div>
                        <div class="item mid2">
                            <label>
                                <input type="radio" name="rating" value="8" [(ngModel)]="adhoc.rating">
                                8
                            </label>
                        </div>
                        <div class="item high2">
                            <label>
                                <input type="radio" name="rating" value="9" [(ngModel)]="adhoc.rating">
                                9
                            </label>
                        </div>
                        <div class="item high2">
                            <label>
                                <input type="radio" name="rating" value="10" [(ngModel)]="adhoc.rating" (click)="openModalOnWowRating()">
                                10
                            </label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- <div class="btn-blue">
                        <label>
                            <input type="radio" name="rating" value="1" [(ngModel)]="adhoc.rating">
                            1
                        </label>
                    </div> -->
                    <div class="newButtons">
                        <button class="btn-red">0</button>
                        <button class="btn-red">1</button>
                        <button class="btn-red">2</button>
                        <button class="btn-red">3</button>
                        <button class="btn-red">4</button>
                        <button class="btn-red">5</button>
                        <button class="btn-red">6</button>
                        <button class="btn-yellow">7</button>
                        <button class="btn-yellow">8</button>
                        <button class="btn-green">9</button>
                        <button class="btn-green">10</button>
                    </div>
                    <br>
                    <br>
                    <div class="round-button1">
                        <div class="round-button-circle"><a class="round-button">1</a></div>
                        <!-- <div class="round-button-circle"><a class="round-button">2</a></div> -->
                    </div>
                    
                    <br>
                    <br>
                    <div id="myDIV">
                        <button class="btn">1</button>
                        <button class="btn active">2</button>
                        <button class="btn">3</button>
                        <button class="btn">4</button>
                        <button class="btn">5</button>
                    </div>
                    <!-- <a class="btn1">1</a> -->
                    <!-- <script>
                        // Add active class to the current button (highlight it)
                        var header = document.getElementById("myDIV");
                        var btns = header.getElementsByClassName("btn");
                        for (var i = 0; i < btns.length; i++) {
                          btns[i].addEventListener("click", function() {
                          var current = document.getElementsByClassName("active");
                          current[0].className = current[0].className.replace(" active", "");
                          this.className += " active";
                          });
                        }
                    </script> -->
                                          
                <br>
                <h3>2. If the above survey is not related to your Blue pages country, please click the drop menu for the correct country supported by Procurement.</h3>
                <br>
                <div ibmRow>
                    <div ibmCol [columnNumbers]="{'lg': 2}">
                        <br>
                        <span style="margin-left: 30px;">Country : </span>
                    </div>
                    <div ibmCol [columnNumbers]="{'lg': 6}" >
                        <div style="width: 200px;">
                            <!-- to use ngModel..import "FormsModule" -->
                            <ibm-dropdown [(ngModel)]="x" placeholder="Select Country"> 
                        <!-- [label]="label"
                        [helperText]="helperText"
                        [size]="size"
                        [dropUp]="dropUp"
                        [invalid]="invalid"
                        [invalidText]="invalidText"
                        [theme]="theme"
                        
                        [disabled]="disabled"
                        (selected)="selected($event)"
                        (onClose)="onClose($event)" -->
                                <ibm-dropdown-list [items]="countryList"></ibm-dropdown-list>
                            </ibm-dropdown>
                        </div>
                    </div>
                </div>
                <br>
                <h3>3. What is the primary reason for your score?</h3>
                <br>
                <p class="note">Please note that this response is not anonymous, and for clarity, we may contact you to follow up on any dissatisfied responses. Please provide any comments or suggestions here (optional). Also, if possible, include any identifiers that could be helpful, such as Supplier name, PO# BOnD Cart ID, CSA#, PR# etc:</p>
                <br>
                 <!-- to use ngModel..import "FormsModule" -->
                <textarea name="Comments" class="comments" rows="7" cols="50" [(ngModel)]="adhoc.comments"></textarea>
                <br>
                <br>
                <button ibmButton="primary" (click)="feedbackSave()">Submit</button>
                <br>
                <br>
        
                </div>
        </div>
    </div>
</div>
<ibm-placeholder></ibm-placeholder>












